# INTRODUCTION TO PYTHON

## Table of Content
- [What is Python](#what-is-python)
- [Python Basics](#python-basics)
    - [Operators](#operators)
    - [Variables](#variables)
    - [Datatypes](#datatypes)
        - [Primitive Datatypes](#primitive-data-types)
        - [Collections](#containers)
- [Functions Commonly Used on Collections](#functions-commonly-used-on-iterables-containers-or-sequences)
- [Branching (Control Flow)](#conditional-statements-branching)
- [Loops](#loops-repetitions)
- [Functions](#functions)
- [Modules](#modules)

### WHAT IS PYTHON?
- Python is a general purpose, high level interpreted object-oriented programming language developed by Guido Van Rossum in 1991.  
- An interpreted language does not convert code an executable file or machine language instead, th source code is executed line by line by an interpreter during runtime.
- It is dynamically typed (we do not have to explicitly declare variables and their data types before using them).
- It is easy to read as the syntax are much closer to human language than low level languages.

It has several uses including;
- Software development
- Web development 
- Data Analytics/Data Science
- Graphical User Interface Applications
- Scientific Computing.

Advantages of Python over other languages
- Works on different operating systems (Windows, MAC, Linux, etc).
- It enhances readability due to its simple syntax which is similar (close) to the english language.
- Programming in Python (the pythonic way) allows programmers to write fewer lines of codes compared to other languages.
- It supports object oriented programming

### PYTHON BASICS

#### COMMENTS

- These are statements that are not executed by the interpreted.
- They are most used to give notes and remarks to the programmer himself or other programmers
- In Python, any statement preceeded by one or more \# is regarded as a comment.

Syntax;
```python
    # This is a comment and won't be executed by the interpreter.
```

#### VALUES
A value is the most basic thing a program deals with. It includes letters, numbers, etc.  
Example; 1,2, "H", "Hello World".

#### EXPRESSIONS
Expressions are the most basic instructions in a programming language. They consist of values and operators and they can be evaluated to produce a result.
Example; 2+3 is an expression in a programming language.

#### OPERATORS
The main kinds of operators in Python are;
1. Arithmetic Operators.
1. Relational Operators.
1. Logical Operators.
1. Assignment Operator.
1. Compound Assignent Operators.

##### ARITHMETIC OPERATORS

| Operator | Symbol in Python | Example |
|---|---|---|
| Addition | + | 2 + 3 = 5 |
| Subtraction | - | 3 - 2 = 1|
| Multiplication | * | 2 * 3 = 6|
| Division | / | 4 / 2 = 2.0 |
| Exponents (Powers) | ** | 2 ** 2 = 4 |
| Integer Division | // | 4 // 2 = 2 | 
| Modulus (Remainder) | % | 4 % 3 = 1 |

In [1]:
# Addition
3 + 3

6

In [2]:
# Subtraction
3 - 3

0

In [3]:
# Multiplication
3 * 3

9

In [4]:
# Division
3 / 3

1.0

In [5]:
# Exponents
3 ** 2

9

In [6]:
# Integer Division
3 // 3

1

In [7]:
# Modulus
4 % 3

1

##### __NOTE:__ 
- When you use the division operator ( / ), irrespective of the datatypes, your output will be a floating point value (to be discussed later).
- When you use the integer division operator ( // ), the results will be rounded to the nearest integer and the datatype if the output will be an int (aloso to be discussed later).

##### OPERATOR PRECEDENCE.
Consider, 10 * 5 + 9.
- If we perform the multiplication first, the output will be 59
- If we perform the addition first, the output will be 145
In order to solve this issue and ensure a common result, we use the following order of precedence

- Parenthesis
- Exponents ( ** )
- Multiplication ( * ), Division ( / ), Integer Division ( // ), Modulus ( % )
- Addition ( + ), Subtraction ( - )

##### RELATIONAL OPERATORS

| Operator | Symbol in Python | Example |
| --- | --- | --- |
| Greater than | > | 3 > 4 = False |
| Less than | < | 3 < 4 = True |
| Greater than or equal to | >= | 10 >= 11 = False |
| Less than or equal to | <= | 10 <= 11 = True |
| Not equal to | != | 10 != 11 = True |
| Equal to | == | 10 == 11 = False |

In [8]:
3 > 4

False

In [9]:
3 < 4

True

In [10]:
10 >= 11

False

In [11]:
10 <= 11

True

In [12]:
10 != 11

True

In [13]:
10 == 11

False

##### LOGICAL OPERATORS

###### TRUTHY TABLE FOR ***AND***
| OPERAND (VALUE) 1 | OPERAND (VALUE) 2 | OUTPUT |
| --- | --- | --- |
| True | True | True |
| True | False | False |
| False | True | False |
| False | False | False |

###### TRUTHY TABLE FOR ***OR***
| OPERAND (VALUE) 1 | OPERAND (VALUE) 2 | OUTPUT |
| --- | --- | --- |
| True | True | True |
| True | False | True |
| False | True | True |
| False | False | False |

###### TRUTHY TABLE FOR ***NOT***
| OPERAND (VALUE) 1 | OUTPUT |
| --- | --- |
| True | False |
| False |  True |


###### Logical operators and examples
| Operator | Symbol in python | Example |
| --- | --- | --- |
| Logical AND | and | (3 > 2) and (5 < 8) = True |
| Logical OR | or | (4 < 3) or (3 > 2) = True |
| Logical NOT | not | not True |


##### __NOTE:__ 
- ***AND*** and ***OR*** are binary operators ( They operate on two operands (values))
- ***NOT*** is an unary operator ( It operates on a single operand)

##### ASSIGNMENT OPERATOR

An assignment operator is an operator that assigns (designate) a value to a variable (To be discussed later).  
In Python, assignment is done using a single equal to sign ( = ).  
For example; x = 4, assigns the value 4 to the variable x. Hence we can reference this value by calling the name of the variable.

##### COMPOUND OPERATOR ASSIGNMENT

| Operator | Example | Equivalent Statement in Python | 
| --- | --- | --- |
| += | x += 1 | x = x + 1 |
| -= | x -= 1 | x = x - 1 |
| *= | x *= 2 | x = x * 2 |
| /= | x /= 2 | x = x / 2 |
| //= | x //= 2 | x = x // 2 |
| %= | x %= 2 | x = x % 2 |
| **= | x **= 2 | x = x ** 2 |

#### VARIABLES
A variable is a named reference to a memory location in the computer. It stores values at that specific location in memory and the value can be referenced later using the variable name. Simply put, it is a container that saves a value. 

##### RULES FOR VARIABLE NAMING
There are certain conventions that must be followed when naming your variables, these are
1. Variable names cannot start with a number start with.
1. The only punctuation that is allowed in a variable name in Python is the underscore ( _ ).
1. A variable name can only contain alphanumeric characters ([A-Z], [a-z], [0-9]).
1. Variables names cannot be any of the built in names in Python.
1. Variable names are case sensitive. 

##### __NOTE:__ 
- Variable names must be descriptive. A different programmer should be able to understand the purpose of your variable without any comments.


Examples of legal variable names;
- myvar = "John"
- my_var = "John"
- _my_var = "John"
- myVar = "John"
- MYVAR = "John"
- myvar2 = "John"


Examples of illegal variable names;
- 2myvar = "John"
- my-var = "John"
- my var = "John"


Since a variable stores a value, we now discuss the various datatypes of values a variable can store.

#### DATATYPES
A data type is an attribute of a data (value) that instructs the interpreter on how the data will be used and the operations that can be performed using that data.

There are two main kinds of datatypes in Python. There are;
- primitive data types
- Containers (sequences)

##### PRIMITIVE DATA TYPES
- Numbers:
    - int (integers)
    - float (real numbers or numbers with decimal parts)
    - Complex numbers
- Boolean
- String - Technically speaking, a string is a sequence but since we it's often used (almost every program has a string datatype in it), we might as well consider it as a primitive datatype.

Now considering these types individually, we start with the _int._

***To check the datatype of a value or variable in Python, we use the type function.***

##### INTEGER DATATYPE (int)
- In python, the int datatype is used to indicate integer values (numbers without a decimal part).
- It is simply any negative or positive whole number.

In [14]:
# Int

a = 33
type(a)

int

We can perform operations with int datatypes.

In [15]:
33 + 67

100

In [16]:
10**3

1000

In [17]:
100 % 3

1

We can also create an integer datatyp by explictly casting a numeric value as an _'int'_ using the ***int()*** method.  
An illustration is given in the example below.

In [18]:
a = 555
b = 66.77

print(f"This the original number {a}; \t\t This is the the number after casting into an integer {int(a)}")
print(f"This the original number {b}; \t This is the the number after casting into an integer {int(b)}")

This the original number 555; 		 This is the the number after casting into an integer 555
This the original number 66.77; 	 This is the the number after casting into an integer 66

##### FLOATING POINT NUMBERS

These are numeric values that have decimal parts (real numbers)

In [19]:
type(5.6)

float

As with integers, we can cast numeric variables or values to a _'float'_ using the ***float()*** method.

In [20]:
c = 11
d = 65.97

print(f"This the original number {c}; \t\t This is the the number after casting into an float {int(c)}")
print(f"This the original number {d}; \t This is the the number after casting into an float {int(d)}")

This the original number 11; 		 This is the the number after casting into an float 11
This the original number 65.97; 	 This is the the number after casting into an float 65

##### COMPLEX NUMBERS
These numeric values represent complex numbers (numbers with both imaginary and real parts present).

Generally, a complex number is written as $$a + bi,$$
where $a$ denotes the real part and $b$ is the imaginary part.

But in python, we use ***j*** to indicate the imaginary part.
Hence writing the above complex number in Python will look a like;
$$a  + bj$$

In [21]:
a = 6 + 1j
b = 3 + 5j
c = 4 - 2j

print(a + b)
print(a + c)

(9+6j)
(10-1j)

Similar to integers and floating point numbers, we can convert number values to complex numbers with $0$ imaginary part.

In [22]:
a = 66

print(f"This the original number {a}; \t\t This is the the number after casting into an float {complex(a)}")

This the original number 66; 		 This is the the number after casting into an float (66+0j)

##### BOOLEAN DATATYPE

As the name suggests, variables of this datatype can only take two values; 
- **True**
- **False**

These values are normally the result of an expression involving relational or logical operators.

In [23]:
a = True
type(a)

bool

In [24]:
#
3  > 4

False

In [25]:
a = 4 == 6
b = 6 <= 7

print(f"Result of a or b:  {a or b}")
print(f"Result of a and b:  {a and b}")

Result of a or b:  True
Result of a and b:  False

Generally, there are specific values that are considered falsy (**False**) values. All other values are considered truthy (**True**). 

##### FALSY VALUES
- None
- False
- Zero i.e 0, 0.0
- Empty sequence, for example, '', [], ()
- Empty dictionary i.e {}

We will talk more about sequences later.

##### STRINGS
Strings sequences of characters enclosed by single or double quotation marks. It is generally used for storing texts.

Since a string is basically a sequence of characters, we can access the individual characters in a string using what is known as an ***index.***

- An _index_ is a number that shows the position of a character in string starting from the left (unless negative indices which start from the right).

**NOTE:** Python is **0-indexed** meaning it starts counting from position 0. This also means that the position of the last character in the string is one less than the length of the string.

In [26]:
a = "abcdefgh"
a

'abcdefgh'

In the string variable a above, the letter _a_ is at index (position) 0, letter _b_ is at index 1 and so on.  
To access a specific character in a string, we use the syntax below

- name_of_string\[index or position\]

An illustration is given below.

In [27]:
a[0]

'a'

In [28]:
a[7]

'h'

We can also start indexing from the right (known as negative indexing).

The last character in the string has an index of -1, the second last has an index of -2 and so on.

In [29]:
a[-1]

'h'

In [30]:
a[-2]

'g'

Now, what happens when we want to select mo than one character in a string (a subset of the string)??

We use what we call ***SLICING.*** The syntax for slicing is given below

name_of_variable[start index, end index, step]

In [31]:
# Selecting the first 3 letters of the string above
a[0:3]

'abc'

**NOTE:**
- the last index is exclusive meaning the slicing operation stops just before the last index.

In [32]:
# Selecting the last 3 characters
a[-3:]

'fgh'

**NOTE:**
- When we leave the starting index open (empty), the slicing starts from the first character at position 0.
- Similarly, when we leave the last index open, it slices upto the last character.

In [33]:
a[:5] # selects the first five characters

'abcde'

In [34]:
a[0:5:2] # Selects the first five characters with a step of two

'ace'

##### MULTILINE STRINGS

- This are strings that appear exactly the way they are typed.
- This is enclosed in three (3) opening and closing quotation marks
- When we use multiline strings without assigning it to a variable, it is treated by the interpreter as a comment (This is what is used in docstrings).

In [35]:
multistr1 = '''Hello there
How are you doing?
Have a nice day'''
print(multistr1)

Hello there
How are you doing?
Have a nice day

##### STRING METHODS

These are functions that are specific to strings only. 

There are so many methods that it is impractical to cover all of them. We will only discuss the most essential ones.

- capitalize(): It converts the first character of a string to upper case

In [36]:
a = "abcdefgh"
a.capitalize()

'Abcdefgh'

- endswith(): Returns _True_ if the string ends with the specified character.

In [37]:
a.endswith("h")

True

- find(): It searches a string for a specified value and returns the position where it was found.

In [38]:
a.find("d")

3

- index(): Similar to the find method but returns an error when the specified substring is not found.

In [39]:
a.index('g')

6

In [40]:
a.index('k')

ValueError: substring not found

- islower(): Returns true if all characters in the string are lower case

In [41]:
a.islower()

True

- isupper(): Returns True if all characters in the string are upper case.

In [42]:
a.isupper()

False

- isnumeric(): Returns True if all characters in the string are numeric.

In [43]:
a.isnumeric()

False

- join(): Converts elements of an iterable into a string

In [44]:
b = ['Programming', 'is', 'fun']
" ".join(b)

'Programming is fun'

- split(): This method separates the string by the value passed as an argument and returns a list containing separated parts of the string.

In [45]:
a = 'My name is Danny'
b = a.split(' ')
print(b)

['My', 'name', 'is', 'Danny']

- lower(): Converts all characters in the string to a lowercase.
- upper(): Converts all characters of the string to an upper case.

For more string methods, check out this [website](https://www.w3schools.com/python/python_ref_string.asp).

**NOTE:** 
- To check the number of characters in a string, use the _len()_ function.

##### FORMATTED STRINGS
- They allow us to insert variables into a string directly without using concatenation.
- They can be done in two ways

In [46]:
a = 'apples'
b = 'Diana'

str1 = 'My name is {0} and I love {1}'.format(b,a)
print(str1)

My name is Diana and I love apples

- We can also leaves the indices out of the curly braces. In this case, the order matters as the first argument to the format method will replace the first curly brace and so on.

In [47]:
str2 = 'My name is {} and I love {}'.format(a,b)
str2

'My name is apples and I love Diana'

- The second way is what is most used these days. I have used quite a few in the previous topics (😂😂😂😂😂).
- It is normally referred to as f-strings.
- You simply prefix the string with an _'f'_ and insert your variables or expressions in braces directly where you want them to appear in the string.

In [48]:
f'My name is {b} and I love {a}'

'My name is Diana and I love apples'

In [49]:
f'I am {22+3*4} years old.'

'I am 34 years old.'

##### CONTAINERS

Containers (sequences) are essentially like the variables we've discussed previously but unlike those variables, containers can store more than a single value. The values stored in these containers can be of different datatypes or of the same datatype.

In this course we'll talk about the following containers
1. List
1. Tuples
1. Set
1. Dictionaries

##### LIST

A list is the most common and widely used container. It can be used to store any number of values and the values can be of any data type.

***PROPERTIES***
- Mutability: We can change the values in the list
- Indexable: We can access single or a portion of the values stored in a list using the _index_ and _slicing_ operations discussed under the string section.
- Lists are duplicate elements

Lists can be created by placing comma-separated values in a square bracket or by using the _list()_ constructor.

Examples are given below.

In [50]:
aaa = [1,2,3,'a','b', False]
print(aaa)

bbb = list()
print(bbb)

[1, 2, 3, 'a', 'b', False]
[]

Just like we discussed under the string section, we can index and slice lists

In [51]:
aaa[0]

1

In [52]:
aaa[-1]

False

In [53]:
aaa[1:4]

[2, 3, 'a']

- To know the number of elements contained in a list (size of the list), we use the _len()_ function.

In [54]:
len(aaa)

6

##### LIST METHODS

1. _append():_ This method adds an element to the end of the list.

In [55]:
bb = ['apple', 'guava', 'pineapple']
print(bb)

bb.append('orange')
print(bb)

bb.append(['mango', 'watermelon'])
print(bb)

['apple', 'guava', 'pineapple']
['apple', 'guava', 'pineapple', 'orange']
['apple', 'guava', 'pineapple', 'orange', ['mango', 'watermelon']]

2. _insert():_ This method allows you to add an element to the list in the specified index (position).

In [56]:
bb.insert(2, 'boy')
print(bb)

['apple', 'guava', 'boy', 'pineapple', 'orange', ['mango', 'watermelon']]

3. _extend():_ This method also adds elements to the list. One important fact about this method is that when we add other collections using this method, the items get added individually as opposed to the _append_ method which adds the entire collection.

In [57]:
bb.extend(['car', 'motobike'])
print(bb)

['apple', 'guava', 'boy', 'pineapple', 'orange', ['mango', 'watermelon'], 'car', 'motobike']

4. _reverse():_ This method reverses the order of the elements in the list.

In [58]:
bb.reverse()
print(bb)

['motobike', 'car', ['mango', 'watermelon'], 'orange', 'pineapple', 'boy', 'guava', 'apple']

5. _remove():_ This method removes the specified item from the list.

In [59]:
bb.remove('boy')
print(bb)

['motobike', 'car', ['mango', 'watermelon'], 'orange', 'pineapple', 'guava', 'apple']

6. _pop():_ This method removes the last item in the list and returns it.

- We can also pass an index as an argument to the _pop()_ method to remove the element at the specified index.

In [60]:
removed_item = bb.pop()
print(removed_item)

bb.pop(5)
print(bb)

apple
['motobike', 'car', ['mango', 'watermelon'], 'orange', 'pineapple']

**NOTE:**
- We can add two or more lists together using the concatenation sign ( + ). (This can also be done for strings).

##### LIST COMPREHENSION

- It is a simpler and quicker way of creating lists from other containers
- It basically consists of enclosing expressions in a square bracket.
- The expression is evaluated for each element in the container.

In [61]:
a = [1,2,3,4,5]
b = [x**2 for x in a]
print(b)

[1, 4, 9, 16, 25]

- We can also use conditional statements (to be discussed later) i list comprehensions
The syntax is given below;
```python
    [expression for element in iterable if condition]
```

In [62]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [x**2 for x in a if x % 2 == 0]
print(b)

[4, 16, 36, 64, 100]

##### TUPLE

Tuples are also containers that can be used to store more than a single value. Tuples are created using parenthesis (), or the tuple constructor.

- Tuples are immutable - meaning the elements stored in a tuple cannot be altered. A way to work around this might be to convert the tuple to a list.
- Tuples also support indexing and slicing.
- To create a tuple with only one item, you must add a comma at the end of that value

In [63]:
tt = (1,2,'aa', 'bb', False)
print(tt)

tt1 = tuple()
print(tt1)

only_one_item = ('hi',)
print(only_one_item)

(1, 2, 'aa', 'bb', False)
()
('hi',)

In [64]:
tt[1]

2

In [65]:
tt[:4]

(1, 2, 'aa', 'bb')

- We can unpack the elements in a tuple using the asterisks ( * ) operator. Unpacking means taking out the elements in the tuple.

In [66]:
tt2 = ('yellow', 'red', 'blue', 'green', 'brown', 'white')
yellow, red, *rests = tt2
print(yellow)
print(red)
print(rests)

yellow
red
['blue', 'green', 'brown', 'white']

To join two tuples, you can simply use the concatenation symbol ( + )

In [67]:
tup1 = ('hello', 'how')
tup2 = ('are', 'you?')

print(tup1 + tup2)

('hello', 'how', 'are', 'you?')

##### SETS 

Sets is also another container that can be used to store multiple values. 

- They cannot be indexed
- They are immutable
- They do not contain duplicated elements.

They are created by placing comma-separated values within a set of opening and closing braces ( {} ) or by using the _set()_ constructor.

In [68]:
s1 = {'apple', 'orange', 'banana', 'guava'}
print(s1)

s2 = set()
print(s2)

{'apple', 'guava', 'orange', 'banana'}
set()

##### SET METHODS

1. _add():_ This method adds a new element to the set.

In [69]:
s2.add('hello')
print(s2)

{'hello'}

2. _update():_ This method adds another container to the set.

In [70]:
s3 = ['boy', 'girl']

s2.update(s3)
print(s2)

{'girl', 'hello', 'boy'}

3. _remove():_ This method removes the specified item from the set.

In [71]:
s1.remove('guava')
print(s1)

{'apple', 'orange', 'banana'}

4. _discard():_ This method works exactly like the _remove()_ method but it will not raise an error when the specified element does not exist.

In [72]:
ss1 = {'hello', 'boy', 'hi', 'girl'}

ss1.discard('hello')
print(ss1)

{'girl', 'boy', 'hi'}

In [73]:
ss1.remove('boom')

KeyError: 'boom'

In [74]:
ss1.discard('boom')

5. _Union():_ This method works like the _update()_ method. It adds to sets (it returns a new set with all items from both sets).

**NOTE:** Instead of using the _union()_ method, we could use the pipe symbol ( | ) and we'll get the same result.

In [75]:
ss2 = {"a", "b", "c"}
ss3 = {"d", "e", "f", "b", "c"}

ss4 = ss2.union(ss3)
print(ss4)

ss5 = ss2 | ss3
print(ss5)

{'e', 'c', 'a', 'd', 'b', 'f'}
{'e', 'c', 'a', 'd', 'b', 'f'}

6. _Intersection():_ This method return only those items that are common in both sets. 

**NOTE:** You can also use the ampersand symbol ( & ) and you'll get the same result.

In [76]:
ss6 = ss2.intersection(ss3)
print(ss6)

ss7 = ss2 & ss3
print(ss7)

{'b', 'c'}
{'b', 'c'}

7. _difference():_ This method returns the elements that are in the first set but not in the other set.

**NOTE:** You can use the hyphen ( - ) to get the same result.

In [77]:
ds1 = ss2.difference(ss3)
print(ds1)

ds2 = ss2 - ss3
print(ds2)

ds3 = ss3.difference(ss2)
print(ds3)

ds4 = ss3 - ss2
print(ds4)

{'a'}
{'a'}
{'e', 'f', 'd'}
{'e', 'f', 'd'}

8. _symmetric\_difference():_ This method returns the elements that are not in the intersection of the sets.

**NOTE:** We can get the same result by using the caret symbol ( ^ ).

In [78]:
ds5 = ss2.symmetric_difference(ss3)
print(ds5)

ds6 = ss2 ^ ss3
print(ds6)

{'e', 'd', 'a', 'f'}
{'e', 'd', 'a', 'f'}

##### DICTIONARIES

Dictionaries are the last of the containers that we'll discuss. They are used for storing key:value pairs. 

- They are mutable
- They do not allow duplicates

They can be created by placing comma-separated key:value pairs in braces ( {} ) or by using the _dict()_ constructor.
The key and the value are separated by a colon ( : ).

In [79]:
dd = {'name': 'Dan', 'age': 64}
print(dd)

dd1 = dict()
print(dd1)

{'name': 'Dan', 'age': 64}
{}

- The elements in a dictionary can be accessed by using the following syntax;

variable_name[key name]

In [80]:
dd['name']

'Dan'

- We can also access an element of a dictionary using the _get()_ method.

In [81]:
dd.get('name')

'Dan'

- We can get all the keys using the _keys()_ method.

In [82]:
dd.keys()

dict_keys(['name', 'age'])

- We can get all the values using the _values()_ method.

In [83]:
dd.values()

dict_values(['Dan', 64])

- We can get a tuple of the items in a dictionary by using the _items()_ method.

In [84]:
dd.items()

dict_items([('name', 'Dan'), ('age', 64)])

- To change the value of a key in a dictionary, we can access the element using the key name and set it to a new value.

In [85]:
dd['name'] = 'Manuel'
print(dd)

{'name': 'Manuel', 'age': 64}

- We can also add new elements to the dictionary by using the syntax below (which is similar to the one used to reassign a value).

variable_name[new key] = new value

In [86]:
dd['height'] = 155
print(dd)

{'name': 'Manuel', 'age': 64, 'height': 155}

- We can also use the _update()_ method add a  new element to the dictionary.

In [87]:
dd.update({'birth year': 1900})
print(dd)

{'name': 'Manuel', 'age': 64, 'height': 155, 'birth year': 1900}

- _popitem():_ This method removes the last item in the dictionary.

In [88]:
dd.popitem()
print(dd)

{'name': 'Manuel', 'age': 64, 'height': 155}

- _pop():_ This method removes the element with the specified key.

In [89]:
dd.pop('name')
print(dd)

{'age': 64, 'height': 155}

##### ***THE RANGE FUNCTION***

- The range function generates values from the starting value to the stopping value (exclusive) with the specified steps
- It returns a range object which can be converted to other containers
- It is very useful in generating sequential numbers with a specified range.

Syntax is given below
```python
    range(start, stop, step)
```

In [90]:
a = range(1,20)
a

range(1, 20)

We can see the individual elements by converting it to a list.

In [91]:
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [92]:
b = range(1,20,2)
list(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

##### ***THE IN OPERATOR***

- For all the iterables (containers) discussed, we can use the _in_ operator to check if a container contains a specific item.
- It is mostly used in _for loops_ (which will be discussed later)

In [93]:
a = [1,2,3,4,5]
bb = ("a", "b", "c")
c = {'name': 'Danny', 'country': 'Ghana', 'age':10}

print(f"3 in a? {3 in a}")
print(f"a in bb? {'a' in bb}")
print(f"nationality in c? {'nationality' in c}")

3 in a? True
a in bb? True
nationality in c? False

#### FUNCTIONS COMMONLY USED ON ITERABLES (CONTAINERS OR SEQUENCES)
1. _sum():_ This function sums all the values in a given container.

In [94]:
a = [1,2,3,4,5,6]
print(sum(a))

b = (22,33,44,55)
print(sum(b))

21
154

2. _sorted():_ This function sorts (reorders) the elements in a given iterable. By default, it sorts in ascending order.

In [95]:
a = [38,53,2,7,1,5,8,2]
sorted(a)

[1, 2, 2, 5, 7, 8, 38, 53]

3. _max():_ This function determines the maximum value.

In [96]:
max(a)

53

4. _min():_ This function determines the minimum value.

In [97]:
min(a)

1

5. _all():_ This function returns True if all the values are truthy values.

In [98]:
a = [1,2,3,4,5,9]
print(all(a))

b = [0,'',[]]
print(all(b))

True
False

6. _any():_ This function returns a True if there is at least one truthy value

In [99]:
c = ['', 0, (), 1]
print(any(c))

True

#### INPUT AND OUTPUT

- To take and input in python, we simply use the _input()_ function.
- By default, the _input()_ method always returns a string datatype.

In [100]:
name = input("What is your name? ")

- We use the _print()_ function to output results to the standard output (screen).

In [101]:
print('Hello, World')

Hello, World

##### EXERCISE
1. Write a program that returns the roots of a quadratic equation.
1. Create a container that consists of 10 colors;
    - First element.
    - Second element.
    - Last element.
    - Second-to-last element.
    - Second and third elements.
    - Element at index 4.

#### CONDITIONAL STATEMENTS (BRANCHING)

They define the control flow of a program based on some conditions.

The main control flow structures used in python are;
- _if_ statements
- _IF-else_ statements
- _if-elif-else_ statements
- _ternary statements_

##### ***IF STATEMENTS***
- This is used when we want to make a decision (decide the flow of the program) based on a condition. Example; _If it rains, stay home_.
- In the example above, we have a condition (whether or not it will rain) and we take an action only when the condition is true. We are not particularly interested in the doing anything else when the condition is false.

The syntax for the _if_ statement is given below
```python

    if condition:
        statements
```

**NOTE:** 
- In python, we do not not use braces like other programming languages. Instead, we use colon ( : ) to indicate the end of a condition and spaces (indentations) to indicate the statements. For instance in javascript, the above code block would be written as;

```javascript

    if condition {
        statements
    }
```

In [102]:
a = 55

if (a > 30):
    print('Bigger than 30')

Bigger than 30

##### ***IF-ELSE STATEMENTS***

The second control structure we will discuss is the _if-else statements._

- This kind of branching gives us an alternative action even when the primary condition fails.
- Example; _if it rains, stay home else go out and play._
- In the example above, the condition is the same as in the first example but we now have an alternative action to take when the condition fails. That's if it does not rain, we should _go out and play._

The syntax for this control flow is given below;
```python

    if condition:
        statements 
    else:
        statements
```

In [103]:
a = 25
if (a > 30):
    print('a is greater than 30')
else:
    print('a is not greater than 30')

a is not greater than 30

##### ***IF-ELIF-ELSE STATEMENTS***
The next control structure we'll discuss is the _if-elif-else_ structure.

- This sturcture allows us to test multiple conditions and take actions depending on which conditions evaluated to a _True_ value.
- Example; _if it rains, stay home, else if today is Monday, go to school, else go out and play_

The syntax for this structure is given below;

```python

    if condition 1:
        statements
    elif condition 2:
        statements
    else:
        statements
```

In [104]:
a = 75

if (a < 40):
    print('You failed')
elif (a >= 40 and a < 70):
    print('You had a B')
else:
    print('You had an A')

You had an A

##### ***TERNARY STATEMENTS***

- These statements are a shorter way of writing _if-else_ control structures.

The syntax for ternary statements in python is given below;

```python

    truth statement if expression else false statement
```

In [105]:
a = 46
print('You passed') if a > 40 else print('You failed')

You passed

**GENERAL NOTES ON CONTROL STRUCTURES**
- Make sure the conditions do not overlap else you might get unexpected results
- You can nest (embbed) control structures within control structures. For example;
```python
    if condition1:
        if inner condition:
            statement
        else:
            statement
    elif condition2:
        statement
    else:
        statement
```
- Avoid nesting so many conditions

#### LOOPS (REPETITIONS)

These structures allow us to preform tasks repeatedly.

There are two main looping structures in Python
- _For loop_
- _while loop_

##### ***FOR LOOP***
These looping structures are basically used for traversing containers (sequences).  
For instance, we can loop (iterate) over the characters in a string or the elements in a list, tuple, etc.

The syntax for this looping structure is
```python

    for item in iterable:
        do something
```

In [106]:
mylist = ["a", "b", "c", "d", "e"]

for element in mylist:
    print(element)

a
b
c
d
e

- There is also another way of using this looping construct in which we can use indices to access elements in a sequence. (This approach becomes quite useful when dealing with algorithmic problems).

In [107]:
for i in range(len(mylist)):
    print(mylist[i]) # printing the element in the i position in mylist

a
b
c
d
e

##### ***WHILE LOOP***

- This looping construct evaluates repeated until the specified condition evaluates to false.
- When the looping condition beecomes false, the line immediately after the _while loop_ gets executed.
- Care should be taken when using this looping construct by providing a terminating condition else the loop might run indefinitely.

The syntax for the while loop is given below;
```python

    while condition:
        statements
        updating condition
```

In [108]:
a = 1
while (a < 10):
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

- We can also add an _else_ block to the while block.
- The else block gets executed only when the looping condition evaluates to False. If an error is raised or we break out of the loop, the else block won't be executed.

The syntax is given below;

```python
    while conditio:
        statements
    else:
        statement
```

In [109]:
a = 1 
while (a < 10):
    print(a)
    a += 1
else:
    print('The loop has finished running')

1
2
3
4
5
6
7
8
9
The loop has finished running

- When the condition inside the looping condition always evaluates to True, we will get an infinite loop.
- There are a couple of ways to resolve this;
    - Make sure you update the variabe in the condition so that it will evaluate to False at some point
    - Use _break_ statements

#### BREAK AND CONTINUE STATEMENTS

##### ***BREAK STATEMENTS***
- When we use the break statement, it halts the execution of the loop and takes control out of the loop.
- It is mostly used in a conditional statement to halt the execution of the loop when a specific consition is met.

Syntax is given below;
```python
    while condition:
        statement
        if condition:
            break
```

In [110]:
a = 1
while (a < 500):
    print(a)
    if (a == 15):
        break
    a += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

***CONTINUE STATEMENTS***

- This statement skips the current iteration of the loop and moves to the next iteration of the loop
- It can be used to skip unwanted executions in a loop

Syntax is given below
```python
    while condition:
        statement
        if condition:
            continue
```

In [111]:
# The program below prints even numbers from between 1 and 50 using while loop and continue statements

a = 1
while (a < 50):
    if (a % 2 == 0):
        print(a)
    else:
        a += 1
        continue
    a += 1
else:
    print('End of the loop')

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
End of the loop

**NOTE:**
- Although in the examples above, I used the _break_ and _continue_ statements with the _while_ loop, it can also be used with the _for_ loop
- Similar, I only discussed used the _else_ block with a while loop but it can also be used _for_ loop.

#### FUNCTIONS

Functions helps us in automating stuffs. It is a block of code that may or may not return a value.
- Generally, we write functions for pieces for code that we use quite often in order to avoid writing lenthy lines of code to do the same task over and over again.
- Functions essentially improve code reusability and code readability.

There are two main kinds of functions
- _Built-in_ functions: These are functions that come with the programming language itself. Examples include; _print(),_ _input(),_ etc.
- _Custom_ functions: As the name implies, these are functions that are written by the programmer themselves.

Aside these two main kinds, we can categorize functions based on how they behave,
- _functions that do not return any value_
- _functions that have a return value_
- _functions that accept no arguments_
- _functions that accept arguments_

The general syntax for creating a function is given below;
```python
    def function_name(arguments):
        '''docstring'''
        function body
```

- The ```def``` keyword is used to indicate that we are defining a new function, hence the name _def._
- The function name can be any name but it should obey the variable naming conventions
- A function may or may not accept arguments. Even if the function does not accept any argument, you must still attach the parenthesis to the function name.

In [112]:
# Defining a function that does not accept any input
def my_first_function():
    print('This is my first function')

- After a function has been created, we must ***call*** it in order to use it.
- To call a function, simply use the syntax below,
```python
    function_name(arguments)
```

- Without calling a function, it will do nothing.
If we wish to call the function we just created above,

In [113]:
my_first_function()

This is my first function

We now discuss functions with parameters
**NOTE:**
- _parameters_ are the placeholders we use when creating or defining a function
- _arguments_ are the actual values we pass to the function when we call it.
- Also, in the general synax I gave above for defining a function, You can see a docstring in there.
- Although it is not mandatory, it is considered best practice to always add a docstring when creating a function.
- Docstrings are comments that explain the parameters of a function, the return type and any other useful information.

In [114]:
def my_second_fun(name):
    print(f"My name is {name}")

my_second_fun('Emelia')

My name is Emelia

A function that accepts arguments can have 4 different kinds of arguments in Python
1. _default arguments:_ These parameters have default values that will be used, should the user fail to supply the any argument.
The syntax is given below

```python
    def func_name(arg1=value1):
        function body
```

In [115]:
def second_func_modified(name='World'):
    print(f'Hello, {name}')

second_func_modified('Emelia') # Called with an argument
second_func_modified() # Called without an argument

Hello, Emelia
Hello, World

2. _positional arguments:_ The arguments are substituted by their position.

In [116]:
def third_func(name, age):
    print(f'Hello, my name is  {name} and I am {age} years old')

third_func('Emelia', 30)
third_func(30, 'Emelia')

Hello, my name is  Emelia and I am 30 years old
Hello, my name is  30 and I am Emelia years old

- As we can see above, the order in which the argument is passed is very essential hence the name (positional arguments).

3. _keyword arguments:_ In this case, the arguments are passed by the parameter (keyword name). It always yields the same result unlike in the case of the positional argument.

In [117]:
third_func(name='Emelia', age=30)
third_func(age=30, name='Emelia')

Hello, my name is  Emelia and I am 30 years old
Hello, my name is  Emelia and I am 30 years old

- One very important thing to notice is that _positional arguments_ must always come before _keyword arguments._

4. _arbitrary arguments:_ These can take any arbitrary number of arguments. There are two kinds
- _*args:_ non-keyword (positional) arbitrary arguments
- _**kwargs:_ keyword arbitrary arguments
The syntax is given below.

```python
    def func_name(*args):
        function body
```

In [118]:
def fourth_func(*args):
    for i in args:
        print(i)

fourth_func(1,2,3,4,5)

1
2
3
4
5

In [119]:
fourth_func("a", "b", "c")

a
b
c

In [120]:
def fifth_func(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")


fifth_func(first='Math', second='is', last='Fun')

first = Math
second = is
last = Fun

##### RETURNING A VALUE FROM  A FUNCTION
- To return a value from a function, you simply use the ```return``` keyword.

```python
    def func_name(arguments):
        statements
        return value
```

In [121]:
def next_func(num1, num2):
    num3 = num1 + num2
    return num3

next_func(44,56)

100

##### ANONYMOUS (LAMBDA) FUNCTIONS

- These functions are unamed and are typically used for one-line statements.
- They have an implicit return statement
- They are also known as _lambda_ functions as they use the ```lambda``` keyword.

Syntax:
```python
    variable_name = lambda args: expression
```

In [122]:
next_func_modified = lambda num1, num2: num1 + num2

next_func_modified(44,56)

100

#### MODULES

A module is simply a file that contains code statements and can be reused in another program.
- Every python file (files with _.py_ extension) is essenstially a module.

Now to use a module or a statement in a module,
- we must first import the module.

There are several ways of importing a module in python
- ```import module``` This essentially imports the entire module
- ```from module import *``` This also imports the entire module
- ```from module import item1, item2, etc``` This import specific functions, classes, variables, etc from the module.

In the next few examples, we look at how to import some built-in python modules.

In [123]:
import math

- When you import a module using the first approach, you must always prefix every statement from that module with the module name to indicate that the function or class you are callng is from that module.

In [124]:
math.sqrt(16) # evaluates the square root of 16

4.0

In [125]:
from math import *

- When you use the second approach, you do not need to prefix every call of a statement in the module with the module name.

In [126]:
sqrt(16)

4.0

In [127]:
from math import sin, pi

sin(pi)

1.2246467991473532e-16

- When we use the last approach, we only have access to the specific functions we imported from the module.

**NOTE:** 
- In the rest of this course, we will be using modules like;
    - [numpy](https://numpy.org/doc/stable/user/absolute_beginners.html)
    - [seaborn](https://seaborn.pydata.org/tutorial/introduction)
    - [matplotlib](https://matplotlib.org/stable/users/explain/quick_start.html)
    - [scipy](https://docs.scipy.org/doc/scipy/tutorial/index.html#user-guide)
    - [scikit-learn](https://scikit-learn.org/stable/user_guide.html)

- As and when we use a new module, we will introduce the key concept.
- You can also use this [link](https://www.geeksforgeeks.org/built-in-modules-in-python/) to explore other built-in python modules

#### REFERENCES
- [Introduction to Python](https://www.geeksforgeeks.org/introduction-to-python/ "GeekforGeeks")
- [Introduction to Python for Absolute beginners](https://www.geeksforgeeks.org/introduction-to-python-for-absolute-beginners/)
- [Python Introduction](https://realpython.com/python-introduction/)
- [Introduction to Python](https://datagy.io/introduction-to-python/ "Datagy")
- [Operators in Python](https://overiq.com/python-101/operators-in-python/)
- [Python Variable Names](https://www.w3schools.com/python/python_variables_names.asp "w3schools")
- [Python Lists](https://www.geeksforgeeks.org/python-lists/)
- [Python Functions](https://www.geeksforgeeks.org/python-functions/)

#### BOOKS
- [Sweigart, A. (2019). Automate the boring stuff with Python: practical programming for total beginners. no starch press.](http://www.ir.juit.ac.in:8080/jspui/bitstream/123456789/5367/1/Automate%20the%20Boring%20Stuff%20with%20Python%2C%202nd%20Edition%20Practical%20Programming%20for%20Total%20Beginners%20by%20Al%20Sweigart.pdf)
- [Severance, C. (2016). Python for everybody: Exploring Data using python 3. Charles Severance.](https://dlib.phenikaa-uni.edu.vn/bitstream/PNK/6476/1/Python%20for%20Everybody.pdf)